.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    margin-top: 2rem;
    background: rgba(255, 255, 255, 0.15);
    padding: 2.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    text-align: center;
}

.experience__container > div:hover {
    background-color: transparent;
    border: var(--color-primary-variant);
    cursor: default;
    transition: all 600ms ease;
    text-align: center;
}

.experience__container > div h4 {
    text-align: center;
    margin: 1rem 0;
    color: white;
}


/* ============================ RESPONSIVE FOR MEDIUM DEVICES ======================= */

@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}
    

/* ============================ RESPONSIVE FOR SMALL DEVICES ======================= */

@media screen and (max-width: 600px) {
 .experience__container {
    gap: 1rem;
 }
 
 .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
 }
}